@import "./utils/variables";
@import "./utils/style_reset";
@import "./components/base_page_styles";
@import "./components/shared/logo";
@import "./components/shared/buttons";
@import "./components/header/header-nav";
@import "./components/header/header_contacts";
@import "./components/main/hero";
@import "./components/main/advantage";
@import "./components/main/specialization";
@import "./components/main/team";
@import "./components/shared/sotial-icons";
@import "./components/main/clients";
@import "./components/main/portfolio_buttons";
@import "./components/main/portfolio_projects";
@import "./components/footer/footer_adress";
@import "./components/footer/footer_form";
@import "./components/main/modal_window/modal";
@import "./components/main/modal_window/modal_form";
