body {
  font-family: "Roboto", sans-serif;
  background-color: $primary-white-color;
  color: $pimary-tex-color;
  letter-spacing: 0.03em;
  &.modal-open {
    overflow: hidden;
  }
}
.header {
  border-bottom: 1px solid #ececec;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  &--bcg {
    background-color: $secondary-background-color;
  }
  &--zeropadding {
    padding-top: 0px;
    @media screen and (max-width: 1199.98px) {
      display: none;
    }
  }
}
.section__title {
  margin-top: 0;

  margin-bottom: 30px;

  color: $secondary-tex-color;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;

  text-align: center;
  @include desktop {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @include phone {
    width: 480px;
  }

  @include tablet {
    width: 768px;
  }
  @include desktop {
    width: 1200px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $hero-footer-background-color;
}

.footer__container {
  text-align: center;
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }
  @include desktop {
    text-align: left;
  }
}
