.footer-Mailing {
  @include tablet {
    width: 450px;
  }
  @include desktop {
    width: 570px;
    margin-left: auto;
  }
}
.footer-label {
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: $primary-white-color;
}

.footer-form {
  @include desktop {
    display: flex;
  }
}
.footer-form__input {
  padding: 15px 16px;
  margin-bottom: 20px;
  width: 100%;

  line-height: 1.25;
  color: $footer-adress-color;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  @include desktop {
    margin-right: 12px;
    margin-bottom: 0;
  }

  &::placeholder {
    color: $footer-adress-color;
  }
}
