.form__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 12px;
  color: #212121;
}
.form__field {
  display: block;
  position: relative;
  margin-bottom: 10px;
}
.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $pimary-tex-color;
}

.form__input {
  display: block;
  width: 100%;
  padding-left: 42px;
  padding-right: 12px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline-color: transparent;

  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline-color: $accent-tex-color;
  }
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  /* transform: translateY(-50%); */
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .form__input:focus ~ & {
    fill: $accent-tex-color;
  }
}

.form-field-comment {
  display: block;
  margin-bottom: 20px;
}
textarea {
  width: 100%;
  resize: none;
  height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline-color: rgba(33, 33, 33, 0.2);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  &:focus {
    outline-color: $accent-tex-color;
  }
  .form-field-comment &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}
.form-checkbox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.71;
}
.form-checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;

  border: 2px solid $primary-black-color;
  border-radius: 3px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .form-checkbox__input:hover + &,
  .form-checkbox__input:focus-visible + & {
    border-color: $accent-tex-color;
  }
  .form-checkbox__input:checked + & {
    background-color: $accent-tex-color;
    border-color: $accent-tex-color;
  }
}

.form-checkbox__agreement {
  color: $accent-tex-color;
}
