.contacts {
  @include tablet-breakpoint-fix {
    margin-top: auto;
  }
  @include tablet {
    margin-left: auto;
  }

  @include desktop {
    display: flex;
  }
}

.contacts__item {
  & + & {
    @include tablet-breakpoint-fix {
      margin-top: 32px;
    }
    @include tablet {
      margin-top: 10;
    }
    @include desktop {
      margin-left: 50px;
    }
  }
}
.contacts__link {
  display: flex;
  align-items: center;
  color: $pimary-tex-color;
  font-weight: 500;

  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include phone-S {
    font-size: 24px;
    line-height: 1.16;
    &--big {
      color: $accent-tex-color;
    }
  }

  @media screen and (min-width: 438px) and (max-width: 767.98px) {
    font-size: 24px;
    line-height: 1.16;
    &--big {
      color: $accent-tex-color;
      font-size: 34px;
      line-height: 1.17;
    }
  }
  @include desktop {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
  &:hover,
  &:focus {
    color: $accent-tex-color;
  }
}
.contacts__icon {
  margin-right: 10px;
  fill: currentColor;

  @include tablet-breakpoint-fix {
    display: none;
  }
}

.social-link {
  @include tablet-breakpoint-fix {
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;
  }
  @include tablet {
    display: none;
  }
}
.social-link__item {
  display: block;
  border-right: 1px solid rgba(33, 33, 33, 0.2);

  padding: 0 10px;
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    border-right: none;
    padding-right: 0;
  }
}
.social-link__link {
  color: $accent-tex-color;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}
