$pimary-tex-color: #757575;
$accent-tex-color: #2196f3;
$secondary-tex-color: #212121;
$primary-white-color: #ffffff;
$primary-black-color: #000000;
$footer-adress-color: rgba(255, 255, 255, 0.6);
$secondary-background-color: #f5f4fa;
$hero-footer-background-color: #2f303a;
$hero-button-hover-color: #188ce8;
$project-border-color: #eeeeee;
$icons-color: #afb1b8;
