.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-family: raleway, sans-serif;
  color: $accent-tex-color;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer__logo {
  padding: 0;
  margin-bottom: 20px;
}

.header__logo--end {
  color: $primary-black-color;
}
.footer__logo--end {
  color: $primary-white-color;
}
